*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Quicksand';
    text-decoration: none;
    background-color: rgb(238, 233, 228);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15%;
}
.container .pic{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.pic img{
    height: 100%;
    width:100%;
    transition: 0.5s;
}
.pic img:hover{
    transform: scale(1.2);
}
.text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.text h5{
    font-size: 4rem;
    font-family: "Lucida Handwriting", cursive;
}

.text p{
    font-size: 1rem;
}

.btn-group{
    margin:45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color:#fff;
    background-color: #4d4a46;
    padding: 12px 25px;
    border-radius: 30px;
    border:2px solid #e5e5e5;
    box-shadow:  0 2px 2px rgb(70, 68, 67);
}

@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top:2rem
    }
    .text{
        padding:40px 0px;
    }
}